.Offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
}

.Offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Offers-left h1{
    color: black;
    font-size: 60px;
    font-weight: 300;
}

.Offers-left p{
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.Offers-left button{
    width: 280px;
    height: 60px;
    border-radius: 35px;
    background: tomato;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.Offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;

}

.Offers-right img{
    margin-top: 100px;
    padding-left: 100px;
}